:root {
  --font-size-normal: 16px;
  --font-size-title: 35px;
  --line-height: 35px --color-black: #000;
  --color-grey: grey;
  --color-primary: #aed136;
  --color-border: #808080;
  --color-background: #fff;
  --color-title-text: #32406d;
  --font-weight-normal: 400;
  --font-weight-bold: 600;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 100%;
  width: 90%;
  margin: auto;
}

h1 {
  font-size: var(--font-size-title);
  font-weight: var(--font-weight-bold);
  /* line-height: var(--line-height);
  margin-bottom: 15px; */
}
.header{
  padding: 10px 0px;
}
.main_logo{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: auto;
}
.logo_img img{
  width: 90px;
  margin: auto;
}
.logo_text{
  padding-top: 10px;
margin: 10px;
}
.logo_text p{
  font-size: 12px;
  color: var(--color-grey);
   font-style: italic;
}

nav{
  padding: 20px 0px;

}
nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-right: 30px;
}

nav ul li a {
  font-size: 16px;
  margin: 0 10px;
  font-weight:700;
  color: var(--color-title-text);
  text-decoration: none;
}
nav ul li a::after{
  font-family: FontAwesome;
  content: "\f107";
  color: var(--color-title-text);
  font-size: var(--font-size-normal);
  font-weight: var(--font-weight-bold);
}
nav ul li a:hover{
  color: var(--color-primary);
}
nav .d-flex{
  display: flex;
  justify-content:flex-start;
  align-items:center ;
}
input {
  border: none;
  font-size: var(--font-size-normal);
  font-weight: 700;
  width: 30%;
  
}
input::placeholder{
  color: var(--color-title-text);
}
.for_call h5{
  font-size: 16px;
  margin-right: 30px;
  font-weight:700;
  color: var(--color-title-text);
}
.for_call h5 a{
  font-size: 16px;
  font-weight:700;
  color: var(--color-title-text);
  text-decoration: none;
}
.for_call h5::before{
  font-family: FontAwesome;
  content: "\f095";
  color: var(--color-title-text);
  font-size: var(--font-size-normal);
  font-weight: var(--font-weight-bold);
}
.search_bar i{
  background-color:var(--color-primary);
}
.search_bar i {
  font-size: 20px; 
  color: white; 
  cursor: pointer; }
/* car section */
.car-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
  text-align: center;
}

.car-container .car {
  width: 100%;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.car-container .car img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100%);
  transition: filter 0.3s ease;
  cursor: pointer;
}
.car-container .car:hover img {
  filter: none;
  
}
/* newest-auto-deals */
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
 
}

.car {
  padding: 15px 0px;
}

.car img {
  max-width: 100%;
  height: auto;
}
.car h2{
  font-size: var(--font-size-normal); ;
  font-weight: 700;
  color: var(--color-black);
}
.car h3{
 font-size: var(--font-size-normal);
  color: var(--color-grey);
    font-weight: 300;
}
.car p{
  color: var(--color-primary);
  font-weight: 700;
}

/* for tyres  */
.sub-title{
  color: #808080;
}

.tyres {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.tyres_type {
  padding: 20px 0px;
}
.tyres img {
  max-width: 100%;
  margin: auto;
  padding-bottom: 10px;
}

.tyres_type h2 {
  font-size: 14px;
  color: #808080;
}

.tyres_type h3 {
  font-size: 14px;
  color: var(--color-primary);
  font-weight: 600;
}

/* for testimonials */
.testimonials {
  padding: 50px 0;
}

.testimonials .title h1 {
  color: var(--color-black);
}
.testimonials>.vc_sep_line{
  height: 1px;
    border-top: 1px solid #ebebeb;
    border-color: var(--color-border);
    display: block;
    width: 65%;
}

.testimonials .rich-text-content>p {
  font-size: 14px;
  color: var(--color-grey);
  font-weight: var(--font-weight-normal);
  line-height: 30px;
  position: relative;}

.testimonials .experts span {
  font-size: 14px;
  color: var(--color-primary);
  margin: 0;
  font-weight: var(--font-weight-bold);
}
.testimonials .rich-text-content{
  padding: 20px;
}
.testimonials .rich-text-content>p::before {
  font-family: FontAwesome;
    content: "\f10d";
    color: var(--color-primary);
    font-size: 26px;
    font-weight: var(--font-weight-bold);
    position: absolute;
    left: -7%;
    top: -2%;
}

.connect_us .title h1 {
  font-size: 22px;
  color: #000;
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height);
  margin-bottom: 15px;
}

.connect_us .title h1::before {
  font-family: FontAwesome;
  content: "\f09e";
  color: #000;
  font-size: 20px;
  font-weight: 800;
  padding: 0 4px;
}

.connect_us {
  padding: 15px;
  border: 1px solid var(--color-border);
  line-height: 15px;
  width: 360px;
  height: 200px;
}

.connect_us input {
  padding: 5px 11px;
  width: 80%;
  margin-bottom: 15px;
}

.subscribe button {
  padding: 7px 4px;
  background-color: var(--color-primary);
  border: none;
  border-radius: 4px;
  font-size: 12px;
  color: var(--color-background);
}

.subscribe>.vc_sep_line {
  height: 1px;
  border-top: 1px solid #ebebeb;
  border-color: var(--color-border);
  display: block;
  /* width: 80%; */
  margin: 20px 3px;
}

.car_experts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}
.experts{
display: flex;
justify-content: flex-start;
align-items: center;
margin: auto;
margin-top: 15px;
}
.experts .d-flex{
  padding: 0px 15px;
}
.experts img{
  width: 50px;
  border-radius: 50px;
  height: 50px;
}

/* for Explore */
.Explore {
  background-color: #d9d9d7;
}

.premium_brands {
  padding: 50px 0;
}

.title h1 {
  font-size: var(--font-size-title);
  color: var(--color-title-text);
  font-weight: var(--font-weight-bold);
}

.car_models {
  display: flex;
  justify-content: center;
}

.car_logo {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin: auto;
  gap: 3%;
}

.car_logo img {
  width: 120px;
  margin: auto;
}

.button {
  border: 1px solid black;
  padding: 15px 11px;
  font-size: 14px;
  max-width: 100%;
  height: 49px;
  border-radius: 6px;
  background-color: var(--color-background);
  font-weight: var(--font-weight-bold);
  margin-top: 40px;
  text-align: center;
}

/* for footer */
.footer {
  background-color: var(--color-title-text);
  padding: 30px 0;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.footer .footer_logo img {
  width: 250px;
}

.footer .title h2 {
  font-size: var(--font-size-normal);
  color: var(--color-background);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height);
}

.footer .rich-text-content p {
  font-size: 14px;
  color: var(--color-grey);
  font-weight: var(--font-weight-normal);
  text-align: justify;
}

.footer .vc_sep_line {
  height: 1px;
  border-top: 1px solid #ebebeb;
  border-color: var(--color-border);
  display: block;
  margin: 10px 0;
}

.input_links {
  padding: 0 30px;
}

h4 {
  font-size: var(--font-size-normal);
  color: var(--color-background);
  font-weight: var(--font-weight-bold);
}

.input_links ul {
  list-style: none;
}

.input_links li {
  padding: 10px 0;
  border-bottom: 1px solid var(--color-border);
  line-height: 15px;
  box-sizing: border-box;
  font-size: 10px;
}

.input_links li a {
  font-size: 12.8px;
  font-weight: 500;
  text-decoration: none;
  color: var(--color-grey);
  text-align: center;
  font-family: "Oxygen", sans-serif;
}

.input_links li a::before {
  font-family: FontAwesome;
  content: "\f105";
  color: var(--color-grey);
  font-size: var(--font-size-normal);
  font-weight: var(--font-weight-bold);
}

.copy_right {
  background-color: #2b2d2d;
}

.copy_right p {
  font-size: var(--font-size-normal);
  padding: 19px 50px;
  color: #666;
  font-weight: var(--font-weight-normal);
}

@media only screen and (max-width: 768px) {
 .navbar .d-flex{
  flex-direction: column;
  align-items: flex-start;
 }
 .navbar ul{
  flex-direction: column;
 }
 .navbar ul li{
  padding: 10px 5px;
 }
 .for_call,.search_bar{
  padding: 10px;
 }
  .button {
    width: 100%;
    margin-bottom: 20px;
  }

  .car_logo {
    grid-template-columns: repeat(2, 1fr);
    gap: 1%;
    width: 100%;
  }

  .car_models {
    flex-direction: column;
  }

  .car_logo img {
    width: 100px;
    margin: auto;
  }

  .footer-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .discription,
  .input_links {
    margin-bottom: 30px;
  }

  .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .car_experts {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}


}
